<div *ngIf=!isEmpty>
  <span>Order By </span>
  <select [ngModel]="orderBy" (change)="changeOrder($event)">
    <option *ngFor="let order of sortOrders | enum2Array" [value]= "order.key">{{order.name}}</option>
  </select>
  <span (click)="changeOrderDirection()">{{orderAsc ? 'Asc' : 'Desc' }}</span>
</div>
<ol>
  <li *ngFor="let item of cartItems$ | async | cartItemOrder : orderBy : orderAsc " (click)="onSelect(item)">
    <app-cart-item [cartItem]="item" (quantityUpdated)="onCartItemUpdated($event)"></app-cart-item>
  </li>
</ol>
