<div class="productComponentMainBlock">
  <h3>{{ product.name | uppercase}}</h3>
  <h5>Updated: {{product.lastUpdatedDate | date : 'fullDate' }}</h5>
  <p>Category: {{ product.category | uppercase }}</p>
  <p>Price: {{product.price | currency : 'USD' : 'symbol' : '1.1-2'}}</p>
  <h5>Details:</h5>
  <div>
    {{ product.description }}
  </div>
  <ng-template [ngIf]="product.ingredients">
    <h5>Ingredients:</h5>
    <ul>
      <li *ngFor="let ingr of product.ingredients">
        {{ingr}}
      </li>
    </ul>
  </ng-template>
  <div [ngClass]="{'disabled' : !isAvailable}">
    Quantity:
    <input type="number" value="1" #productQnt min=1 [disabled]="!isAvailable" />
    <button type="button" (click)='onAdd()' [disabled]="!isAvailable">Buy</button>
  </div>
</div>
