.plMB {
  margin-right: 50px;
  display: inline-block;
  vertical-align: top;
}

.plItem {
  margin-bottom: 20px;
}

.plItemName {
  font-weight: bold;
}

.menuList {
  padding-left: 0px;
  list-style: none;
  width: 100px;
}

.menuList li {
  border: 2px transparent;
}

.menuList li.plItemSelected {
  border: 2px red dotted;
}
