<h3>Shop cart</h3>
<div *ngIf="cartItemCount > 0; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div>
    <app-cart-item-list></app-cart-item-list>
  </div>
  <span>Total: {{getTotal() | currency : 'USD' : 'symbol' : '1.1-2'}}</span>
  <br/>
  <span> Cart created {{createdDate | async | timeDiffNow}} ago </span>
  <br/>
  <br/>
  <button type="button" (click)='clearCart()' [disabled]="isEmpty">Clear Cart</button>
</ng-template>
<ng-template #elseBlock>
  <div>Cart is empty</div>
</ng-template>
