<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div style="vertical-align: top;">
  <app-product-list></app-product-list>
  <app-product></app-product>
  <div>
    Quantity:
    <input type="number" [(ngModel)]="quantity" />
    <button type="button" (click)='onBuy()'>Buy</button>
  </div>

  <!-- <app-cart *ngIf="cartItemsCount > 0"></app-cart>  - doesn't work  -->
  <app-cart *ngIf="cartItems.length > 0"></app-cart>
</div>
